
<h2>Account</h2>

<div>
  <div>
    Welcome {{auth.user.email}}.
  </div>
  <hr>

  <div>
    <p>Change password</p>
    <form ng-submit="changePassword()">
      <input type="password" ng-model="user.oldPassword" placeholder="Old password">
      <input type="password" ng-model="user.newPassword" placeholder="New password">
      <input type="submit" value="Change password">
    </form>
  </div>

  <hr>

  <div>
    <p>Remove account</p>
    <form ng-submit="removeUser()">
      <input ng-model="user.removeUserEmail" placeholder="Email">
      <input type="password" ng-model="user.removeUserPassword" placeholder="Password">
      <input type="submit" value="Confirm">
    </form>
  </div>
</div>