
  <div class="container bump-me">

    <div class="body-content">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create you video resume</h3>
        </div>
        <div class="panel-body">
          <div id="subscribers"><div id="publisher"></div></div>
        </div>

        <!-- recording controls -->
        <div class="panel-footer" ng-init="{ 
          isDisabled:           false, 
          isCameraOn:           false, 
          showVideo:            false, 
          isInviteOn:           false,
          isHistoryOn:          false }">

          <button ng-click="startSession()" ng-hide="isCameraOn" class="btn btn-success">Turn on camera</button>
          <div class="input-group col-lg-6" ng-show="isCameraOn">
            <input type="text" class="form-control" placeholder="Provide archive name" ng-model="archiveName"/>
            <!-- <p ng-show="!archiveName.length" class="alert alert-danger">This field is required.</p> -->
            <div class="input-group-btn">
              <button ng-click="startRecording()" ng-disabled="isDisabled" class="btn btn-success">
                Start recording
                <i class="glyphicon glyphicon-facetime-video"></i>
              </button>
              <button ng-click="stopRecording()" ng-disabled="!isDisabled" class="btn btn-danger">
                Stop recording
              </button>
            </div>
          </div>
        </div>
        <!-- recording controls -->

        <!-- Invite person -->
        <div class="input-group panel-footer" ng-show="isCameraOn">
          <button ng-click="isInviteOn = true" ng-hide="isInviteOn" class="btn btn-primary">
            Invite person
            <i class="glyphicon glyphicon-user"></i>
          </button>

          <input ng-show="isInviteOn" type="email" class="form-control" placeholder="Type email address" ng-model="invitePersonEmail"/>
          <div ng-show="isInviteOn" class="input-group-btn">
            <button ng-click="invitePerson()" class="btn btn-primary">
              Send email
              <i class="glyphicon glyphicon-envelope"></i>
            </button>
            <button ng-click="isInviteOn = false; clearEmailField()" class="btn btn-danger">
              <i class="glyphicon .glyphicon-remove"></i>
              Cancel
            </button>
          </div>
        </div>
        <!-- Invite person -->

      </div>
    </div>

<!--     <div>
      <input ng-model="archiveById">
      <button ng-click="getArchiveVideo(archiveById)">Get archive id</button>
      <video ng-show="!!videoSrcById" width="320" height="240" controls ng-src="{{videoSrcById}}" type="video/mp4"></video>
    </div> -->

    <!-- Archive history -->
    <div style="margin-bottom: 10px;">
      <button ng-click="isHistoryOn = true" ng-hide="isHistoryOn" class="btn btn-success">
        Show history
        <i class=".glyphicon-list-alt"></i>
      </button>
      <button ng-click="isHistoryOn = false" ng-show="isHistoryOn" class="btn btn-default">
        Hide history
        <i class=".glyphicon-list-alt"></i>
      </button>
    </div>
    <div class="panel panel-default" ng-show="isHistoryOn">
      <div class="panel-heading" >
        <h3 class="panel-title">Past Recordings</h3>
      </div>
      <div class="panel-body">
        <p ng-hide="archives">There are no archives currently available. Try to create one.</p>
        <table class="table" ng-show="archives">
          <thead>
            <tr>
              <th>Number</th>
              <th>Name</th>
              <th>Status</th>
              <th>View</th>
              <th>Duration</th>
              <th>Created at</th>
              <th>Download</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody ng-repeat="archive in (archives | notExpired)">
            <tr class="vcenter">
              <td class="vcenter">{{$index + 1}}</td>
              <!-- <td>{{archive.id}}</td> -->
              <td>{{archive.name}}</td>
              <td>{{archive.status}}</td>
              <td>
                <!-- <button ng-hide="isAvailable" ng-disabled="!isAvailable" class="btn btn-danger">Not available</button> -->
                <!-- <div ng-show="isAvailable"> -->
                  <button ng-click="showVideo = !showVideo" ng-hide="showVideo" class="btn btn-success">
                    Show video
                    <i class="glyphicon glyphicon-eye-open"></i>
                  </button>
                  <video ng-show="showVideo" width="320" height="240" controls>
                    <source ng-src="{{archive.url | splitUrl}}" type="video/mp4">
                  </video>
                  <div class="displayBlock">
                    <button ng-click="showVideo = !showVideo" ng-show="showVideo" class="btn btn-primary">
                      Hide video
                      <i class="glyphicon glyphicon-eye-close"></i>
                    </button>
                  </div>
                <!-- </div> -->
              </td>
              <td>{{archive.duration}} seconds</td>
              <td>{{archive.createdAt | date:'shortDate'}}</td>
              <td>
                <a href="{{archive.url}}" target="_self" class="btn btn-primary">Download
                  <i class="glyphicon glyphicon-cloud-download"></i>
                </a>
              </td>
              <td><button ng-click="deleteArchive(archive.id)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Archive history -->
  </div>